<h1>Articles Listing Page </h1>
  
<table>
  <thead>
    <tr>Title</tr>
    <tr>Description</tr>
    <tr>Actions</tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
          <td><%= article.title %></td>
          <td><%= article.description %></td>
          <td>Placeholder</td>
      </tr>
    <% end %>
  </tbody>

</table>