<h1 class="articles-title">Articles Listing Page</h1>

<% if logged_in? %>
  <div class="btn-container">
    <%= link_to 'Create new article', new_article_path, class:"btn btn-dark" %>
  </div>
<% end %>

<%= render 'article' %>

<div class="flickr_pagination pagination_bottom">
  <%= will_paginate @articles, :container => false %>
</div>
