<% if @article.errors.any? %> 
  <div class="container alert alert-danger alert-dismissible fade show col-10 " role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <h2>The following errors prevented the article from being saved</h2> 
    <ul> 
      <% @article.errors.full_messages.each do |msg| %> 
        <li><%= msg %></li> 
      <% end %> 
    </ul>
  </div>
<% end %>