<div class="home-page card bg-dark text-white">
  <div class="card-img-overlay">
    <h5 class="card-title">Welcome to Blog Mania</h5>
    <p class="card-text">Feel free to make an account and begin creating blog posts! They will only be accessible by you</p>
    <div>
      <%= link_to "Log in", login_path, class: "btn btn-primary btn-lg" %>
      <%= link_to "Sign up", signup_path, class: "btn btn-secondary btn-lg" %>
    </div>
  </div>
</div>
