<h1 class="articles-title">Categories</h1>

<div class="container">
  <% @categories.each do |category| %>
    <div class="row justify-content-md-center">
      <div class="col-4 mt-4">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title ">
              <% if category.name %>
                <%= link_to category.name, category_path(category) %>
              <% end %>
            </h6>
          </div>
          <div class="card-footer text-muted">
            <small>Created <%= time_ago_in_words(category.created_at)%> ago, edited <%= time_ago_in_words(category.updated_at)%> ago</small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="flickr_pagination pagination_bottom">
  <%= will_paginate @categories, :container => false %>
</div>