<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small >Copyright &copy; <%= link_to "Wilson Birch", "https://react-portfolio-2.netlify.app/", target: "_blank", rel: "nofollow" %></small>
  </div>
</footer>