<% flash.each do |name, msg| %>
  <% if name == 'alert' %>
    <div class="container alert alert-danger alert-dismissible fade show col-6">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <%= msg %>
    </div>
  <% else %>
    <div class="container alert alert-success alert-dismissible fade show col-6">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <%= msg %>
    </div>
  <% end %>
<% end %>


