<% flash.each do |name, msg| %>
  <div class="container alert alert-success alert-dismissible fade show col-6 ">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <%= msg %>
  </div>
<% end %>


